body {
  background: #282c34;
}
.todo-header {
  min-width: 100%;
  min-height: 100%;
  background: #282c34;
  padding-bottom: 30px;
}
.header {
  background-color: #282c34;
  height: 50px;
  display: flex;

  align-items: center;
  justify-content: center;
  color: white;
}
.header.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 30px;
}
.todo-form {
  height: 80vh;
  width: 500px;
  background: #534f5a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
.todo-header .main {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.input-parent {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.input-parent input {
  width: 60%;
  border-radius: 10px;
  border: none;
}
.input-parent button {
  width: 20%;
  padding: 10px;
  padding-left: 5px;
  margin-left: 10px;
}
.form-main {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
}
.text-parent {
  display: flex;
  height: 100%;
  align-items: center;
  width: 80%;
}
.text-parent p {
  color: antiquewhite;
  font-size: 20px;

  margin-top: 4px;
  padding-top: 4px;
  margin-left: 7px;
  width: 50%;
}
.form-icons {
  display: flex;

  width: 40%;
  float: right;
  right: 0;
  justify-content: end;
}
.icon{
    cursor: pointer;
    color: antiquewhite;
}
.icon:hover{
    color: brown;

}